
body {
    margin: 0;
    display: flex;
    font-family: 
        -apple-system, 
        BlinkMacSystemFont, 
        "Segoe UI", 
        Roboto, 
        "Helvetica Neue", 
        Arial, 
        sans-serif, 
        "Apple Color Emoji", 
        "Segoe UI Emoji", 
        "Segoe UI Symbol";
    height: 100%;
    width: 100%;
}

.h1, h1 {
    font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.all {
    min-width: 1000px;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
}

.header {
    display: flex;
    width: inherit;
    margin: 0 auto;
    height: 150px;
    background-color: #8B8EF7;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

    .header h1 {
        margin: 0;
    }

.section {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 150px);
}

.navigation {
    padding-top: 70px;
    background: hsl(0, 0%, 85%);
    width: 200px;
    min-width: 200px;
}

.content {
    background: hsl(0, 0%, 90%);
    width: calc(100% - 200px);
    padding-top: 10px;
    justify-content: center;
    min-width: 800px;

}

.navigation .button {
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}

    .navigation .button:hover {
        background: rgba(255, 255, 255, 0.64);
        box-shadow: #888888 1px 1px 1px;
        cursor: pointer;
    }

.post {

    min-width: 300px;
    max-width: 600px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background: hsl(0, 0%, 85%);
    min-height: 100px;
    border-radius: 10px;
    padding: 5px 5% 5px 5%;
    box-shadow: #888888 1px 1px 1px 1px;
    font-size: 0.9rem;
    display: flex;
}


    .post:hover {
        box-shadow: #888888 2px 2px 2px 2px;
    }

.publish:hover {
    box-shadow: #888888 1px 1px 1px 1px;
}

.background{
    margin: 5px;
}

.title{
}

.title h2, h3, h4{
    font-weight: 600;
}

.message {
    text-align: justify;
    /*margin-bottom: 10px;*/
}

.footer{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    /*min-height: 10px;*/
}

.footer .author{
    float: right;
    font-weight: 700;
}

.footer .date{
    float: left;
    font-size: 0.7rem;
}

.admin{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    display: table;
    font-size: 0.8rem;
}

    .admin * {
        float: right;
        padding: 3px 5px 3px 5px;
        margin: 0px 0px 0px 15px;
        color: white;
        min-width: 40px;
        text-align: center;
        font-weight: 600;
        box-shadow: #888888 1px 1px 1px 1px;
        border-radius: 5px;
    }



.admin .edit{
    order: 2;
    background-color: hsla(247, 59%, 50%, 0.73);
    
}

.admin .delete{
    order: 1;
    background-color: hsla(0, 85%, 50%, 0.88);

}

    .admin :hover {
        cursor: pointer;
        box-shadow: #888888 2px 2px 2px 2px;
    }

.delete:hover {
    background-color: hsl(0, 100%, 66%);
}

.edit:hover {
    background-color: hsl(244, 100%, 67%);
}

form{
    padding: 5px;
}

input, textarea {
    resize: none;
    font-family: inherit;
    margin:auto;
    margin-bottom: 5px;
    height: 28px;
    width: 100%;
    box-sizing: border-box;
}

textarea{

}

.messagebox{
    height: 200px;
}

.input {
    width: 100%;
    /*padding: 5px;*/
}


.send, .preview{
    background-color: hsl(115, 100%, 40%);
}
