
body {
    margin: 0;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100%;
}

.h1, h1 {
    font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.all {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 0;
    min-height: 100%;
}

.header {
    display: flex;
    margin-top: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 150px;
    background-color: lightgrey;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    box-shadow: black 10px 10px;
}

    .header h1 {
        margin: 0;
    }

.section {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 150px);
}

.navigation {
    padding-top: 70px;
    background: hsl(0, 0%, 85%);
    width: 200px;
}

.content {
    background: hsl(0, 0%, 90%);
    width: calc(100% - 200px);
    padding-top: 10px;
}

.button {
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}

    .button:hover {
        background: rgba(255, 255, 255, 0.64);
        box-shadow: #888888 1px 1px 1px;
    }

.post {
    margin: 10%;
    background: hsl(0, 0%, 85%);
    min-height: 100px;
    border-radius: 10px;
    padding: 5px 5% 5px 5%;
    box-shadow: #888888 1px 1px 1px 1px;
    font-size: 0.9rem;
}

.title {
    /*margin-bottom: 10px;*/
}

.message {
    text-align: justify;
    /*margin-bottom: 10px;*/
}

.footer{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    /*min-height: 10px;*/
}

.footer .author{
    float: right;
    font-weight: 700;
}

.footer .date{
    float: left;
    font-size: 0.7rem;
}

.admin{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    display: table;
    font-size: 0.8rem;
}

.admin *{
    float: right;
    padding: 2px 0px 3px 20px;
}

.admin .edit{
    order: 2;
}

.admin .delete{
    order: 1;
}